html, body {
    border: 0;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    font-family: "Inter";
}

.contenedorPrincipal {
    width: 100%;
    height: 100%;
}

.contenedorImg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.contenedorImg img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capaBlur {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient();
    backdrop-filter: blur(2px);
}

.contenedorForm {
    position: relative;
    z-index: 2;
}